<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add Category</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <div><h1>เพิ่มประเภทสินค้า</h1></div>
    <form action="/category/create" method="post">
      <input
        type="text"
        name="cat_name"
        required
        placeholder="ชื่อประเภทสินค้า"
        id=""
      />

      <input type="number" name="cat_totalPro" value="0" hidden />
      <div>
        <input type="submit" value="เพิ่มประเภทสินค้า" />
      </div>
    </form>
  </body>
</html>
